
.cats-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.cat-card {
  position: relative;
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.btn-primary{
  margin-top: 10px;
  margin-right: 2px;
  background-color: blue;
}


.cat-health .progress-bar {
  background-color: crimson;
}

.cat-food .progress-bar {
  background-color: orange;
}

.cat-affection .progress-bar {
  background-color: purple;
}

.cat-name {
  font-size: large;
  font-weight: bold;
}
